<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dayp308.chatroom.deprecated.mapper.ChatServerMapper">
	<resultMap id="fullChatServerMap" type="ChatServer">
		<id column="server_id" property="id" javaType="int"/>
		<result column="server_name" property="name" javaType="String" jdbcType="VARCHAR"/>
		<result column="server_avatar" property="avatar" javaType="String" jdbcType="VARCHAR"/>
		<result column="server_desc" property="description" javaType="String" jdbcType="VARCHAR"/>
		<result column="server_banner" property="banner" javaType="String" jdbcType="VARCHAR"/>
		<collection property="channelList" ofType="Channel" select="getAllChannelsInServer" column="{server_id=server_id}"/>
		<collection property="memberList" ofType="ServerMember" select="getAllUsersInServer" column="{server_id=server_id}" fetchType="lazy"/>
	</resultMap>

	<resultMap id="chatServerMap" type="ChatServer">
		<id column="server_id" property="id" javaType="int"/>
		<result column="server_name" property="name" javaType="String" jdbcType="VARCHAR"/>
		<result column="server_avatar" property="avatar" javaType="String" jdbcType="VARCHAR"/>
		<result column="server_desc" property="description" javaType="String" jdbcType="VARCHAR"/>
		<result column="server_banner" property="banner" javaType="String" jdbcType="VARCHAR"/>
		<collection property="channelList" ofType="Channel" select="getAllChannelsInServer" column="{server_id=server_id}"/>
	</resultMap>

	<resultMap id="serverMemberMap" type="ServerMember">
		<id column="user_id"/>
		<result property="identity" column="user_identity" javaType="Identity" typeHandler="dayp308.chatroom.typehandler.IdentityTypeHandler"/>
		<result property="nickname" column="nickname" javaType="String"/>
		<association property="user" javaType="User" autoMapping="true">
			<id property="userId" column="user_id"/>
		</association>
	</resultMap>

	<select id="getServerByName" resultType="ChatServer" resultMap="chatServerMap">
        select * from server where server_name like concat("%", #{keyword}, "%")
	</select>

	<select id="getAllChannelsInServer" resultType="Channel">
		SELECT * FROM channel WHERE server_id = #{server_id}
	</select>

	<select id="getServerById" resultType="ChatServer" resultMap="chatServerMap">
		SELECT * FROM server WHERE server_id = #{server_id}
	</select>

	<select id="getFullServerById" resultType="ChatServer" resultMap="fullChatServerMap">
		SELECT * FROM server WHERE server_id = #{server_id}
	</select>

	<insert id="createServer" useGeneratedKeys="true" keyProperty="server.id">
		INSERT INTO server (server_name, server_avatar, server_desc, server_banner) 
		VALUES (#{server.name}, #{server.avatar}, #{server.description}, #{server.banner})
	</insert>

	<sql id="selectServerMember">
		SELECT 	u.user_id,
				u.username,
				u.birthday,
				u.avatar,
				m.user_identity,
				m.nickname
		FROM   	user u
		JOIN	server_member m
		ON      m.server_id = #{server_id}
	</sql>
	
	<select id="getServerMemberById" resultType="ServerMember" resultMap="serverMemberMap">
		<include refid="selectServerMember"/>
		AND		m.user_id = #{user_id}
		AND		u.user_id = #{user_id}
	</select>

	<select id="getAllUsersInServer" resultType="ServerMember" resultMap="serverMemberMap">
		<include refid="selectServerMember"/>
		AND     m.user_id = u.user_id
	</select>

	<select id="searchUserByTextInServer" resultType="ServerMember" resultMap="serverMemberMap">
		<include refid="selectServerMember"/>
		AND     m.user_id = u.user_id
		AND     u.username like concat("%", #{text}, "%")
	</select>

	<update id="updateServerById">
		UPDATE server
		<set>
			<if test="server.name != null">
				server_name = #{server.name},
			</if>
			<if test="server.avatar != null">
				server_avatar = #{server.avatar},
			</if>
			<if test="server.description != null">
				server_desc = #{server.description},
			</if>
			<if test="server.banner != null">
				server_banner = #{server.banner}
			</if>
		</set>
		WHERE server_id = #{server_id}
	</update>

	<insert id="addUser">
		INSERT INTO server_member (server_id, user_id)
		VALUES (#{server_id}, #{user_id})
	</insert>

	<delete id="removeUser">
		DELETE FROM server_member WHERE server_id = #{server_id} AND user_id = #{user_id}
	</delete>

	<update id="updateUserIdentity">
		UPDATE server_member
		<set>
			<if test="identity != null" >
				user_identity = #{identity}
			</if>

			<if test="nickname != null">
				nickname = #{nickname}
			</if>
		</set>
		WHERE server_id = #{server_id} AND user_id = #{user_id}
	</update>

	<select id="getUserIdentityOfServer" resultType="String">
		SELECT user_identity FROM server_member WHERE server_id = #{server_id} AND user_id = #{user_id}
	</select>

	<select id="getUserNicknameOfServer" resultType="String">
		SELECT nickname FROM server_member WHERE server_id = #{server_id} AND user_id = #{user_id}
	</select>
</mapper>
