<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dayp308.chatroom.mapper.MessageMapper">
    <insert id="insertMessage" useGeneratedKeys="true" keyProperty="ind" keyColumn="ind">
        INSERT INTO history (text, file, owner, date, in_channel, type)
                     VALUES (#{msg.text}, #{msg.file}, #{msg.owner}, #{msg.date}, #{msg.inChannel}, #{msg.type})
    </insert>

    <select id="getAllMessage" resultType="Message">
        select * from history
    </select>

    <select id="getMessageById" resultType="Message">
        SELECT * FROM history WHERE ind = #{ind}
    </select>

    <select id="getMessageInChannelByTime" resultType="Message">
        SELECT * FROM history
            WHERE in_channel = #{channel_id}
            AND UNIX_TIMESTAMP(date) BETWEEN #{start_time} AND #{end_time} ORDER BY ind DESC
	</select>

    <select id="getLastMessageInChannel" resultType="Message">
        SELECT * FROM history WHERE in_channel = #{channel_id} AND UNIX_TIMESTAMP(date) &lt; #{timestamp} ORDER BY ind DESC LIMIT 49
	</select>

    <delete id="deleteMessageById">
        DELETE FROM history WHERE ind = #{ind}
    </delete>
</mapper>
