<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dayp308.chatroom.mapper.ServerFileMapper">
    <insert id="addFile" useGeneratedKeys="true" keyColumn="file_id" keyProperty="fileId">
        INSERT INTO server_file (
            file_name,
            extension,
            server_id,
            user_id,
            hash,
            upload_date,
            store_name
        ) VALUES (
            #{file.fileName},
            #{file.extension},
            #{file.serverId},
            #{file.userId},
            #{file.hash},
            #{file.uploadDate},
            #{file.storeName}
        )
    </insert>

    <select id="getAllFilesInServer" resultType="ServerFile">
        SELECT * FROM server_file WHERE server_id = #{server_id}
    </select>

    <delete id="deleteFile">
        DELETE FROM server_file WHERE file_id = #{file_id}
    </delete>

    <select id="searchFileInServer" resultType="ServerFile">
        SELECT * FROM server_file WHERE file_name LIKE CONCAT("%", #{keyword}, "%")
    </select>

    <select id="getFileById" resultType="ServerFile">
        SELECT * FROM server_file WHERE file_id = #{file_id}
    </select>
</mapper>
