<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dayp308.chatroom.mapper.UserMapper">
    <select id="getUserById" resultType="User">
        select * from user where user_id = #{id}
    </select>

    <select id="searchUserByText" resultType="User">
        select * from user where username like concat("%", #{text}, "%")
    </select>

    <select id="getAllUsers" resultType="User">
        select * from user
    </select>

    <select id="getUserByUsername" resultType="User">
        select * from user where username = #{username}
    </select>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="user.user_id">
        insert into user ( username, password, birthday, token )
                    values( #{user.username}, #{user.password}, #{user.birthday}, #{user.token} )
	</insert>

	<select id="getUserByToken" resultType="User">
		select * from user where token = #{token}
	</select>

    <delete id="delUserById">
        delete from user where user_id = #{id}
    </delete>

    <update id="updateUserById">
        update user
            <set>
                <if test="user.username != null">
                    username = #{user.username},
                </if>
                <if test="user.password != null">
                    password = #{user.password},
                </if>
                <if test="user.birthday != null">
                    birthday = #{user.birthday},
                </if>
                <if test="user.avatar != null">
                    avatar = #{user.avatar},
                </if>
                <if test="user.token != null">
                    token = #{user.token},
                </if>
            </set>
            where user_id = #{id}
    </update>

    <select id="getUserLogin" resultType="User">
        SELECT * FROM user WHERE BINARY username = #{username} AND BINARY password = #{password}
    </select>


</mapper>
